:root {
    --blue: #1C4D8C;
    --light-blue: #6B98BF;
    --light-orange: #BF8450;
    --orange: #A65C41;
    --brown: #73332D;
}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-size: 62.5%;
}
body {
    width: 100%;
    font-family: 'Roboto Mono', monospace;
}
.home-body {
    height: 100vh;
    background-image: url(https://www.nasa.gov/sites/default/files/thumbnails/image/web_first_images_release_0.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* ! Basics */
#inactive {
    display: none;
}
a {
    text-decoration: none;
    display: inline;
    color: white;
}
header {
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr;
}
.home-header {
    height: 140px;
}
header .header-icons-container {
    width: 100%;
    height: 50px;
    display: grid;
    background: #212121;
}
header .header-icons-container .icons {
    width: 300px;
    height: auto;
    display: flex;
    justify-items: end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}
.icons span {
    color: white;
}
.icons span:hover {
    opacity: 0.7;
    color: var(--light-orange);
    transition: color .4s;
}
nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    height: 90px;
    background-color: #111213
    /* background: var(--lt-color-gray-900); */
}
nav .nav-logo-container {
    margin-left: 50px;
    min-width: 150px;
    max-width: 250px;
}
nav .nav-logo-container img {
    width: 100%;
    margin-top: 10px;
    filter: hue-rotate(76deg) invert(1) saturate(151%) brightness(150%);
}
nav .profile-link {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 100px;
}
nav .profile-link a {
    padding: 5px 10px;
    color: black;
    border-bottom: 5px solid var(--light-orange);
    font-size: 2rem;
    background-color: white; ;
    border-radius: 5px;
}
nav .profile-link a:hover {
    color: var(--orange);
    border-color: var(--orange);
    transition: all .3s;
}
/* ! Home */
.home-main {
    width: 100%;
    height: calc(100vh - 140px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-main .info-container {
    width: min(90%, 800px);
    height: auto;
    margin-bottom: 100px;
    text-align: center;
}
.info-container .title {
    padding: 5px 10px;
    font-size: 4rem;
    font-weight: 500;
    color: white;
    background-color: #000000bb;
    border-top: 1px solid var(--light-orange);
    border-radius: 5px;
}
.info-container a {
    display: inline-block;
    margin: 40px auto 0;
    padding: 10px;
    height: auto;
    width: auto;
    font-size: 3rem;
    color: white;
    background-color: #000000ba; ;
    border-bottom: 1px solid var(--light-orange);
    border-radius: 5px;
}
.info-container a:hover {
    color: var(--light-orange);
    transform: scale(1.1);
    transition: transform .4s;
    transition: color .4s;
}
/* ! Blogs */
/* seguir con este diseño:
https://raw.githubusercontent.com/degranda/Platzi-blog/master/pagina-blogs.png */
.read-more--link {
    display: inline-block;
    width: 90px;
    height: 40px;
    padding: 10px 12px;
    font-size: 1.3rem;
    color: black;
    border: 1px solid var(--light-blue);
}
.read-more--link:hover {
    color: var(--blue);
    border-color: var(--blue);
    transition: all.3s;
}
.blogs-main {
    width: 100%;
    height: auto;
    background-color: white;
    font-weight: 500;
}
.last-blog--container{
    width: 100%;
    height: auto;
    padding: 16px 15% 40px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 2fr;
    background-color: #d6d6d6;
}
.last-blog--container .picture--container {
    grid-column: 1;
    display: grid;
    align-items: center;
}
.last-blog--container h3{
    margin-bottom: 15px;
    font-size: 2rem;
    grid-row: 1;
}
.picture--container img {
    width: 90%;
}
.last-blog--container .last-blog--info {
    grid-column: 2;
    /* padding-left: 20px; */
}
.last-blog--container .last-blog--info h2 {
    margin: 18px 0;
    font-size: 3rem;
}
.last-blog--container .last-blog--info p {
    margin-bottom: 24px;
    font-size: 1.6rem;
    max-height: 200px;
    overflow-y: hidden;
}
.recent-blogs--container {
    width: 100%;
    margin-bottom: 60px;
}
.recent-blogs {
    margin: 0 auto;
    width: 80%;
}
.recent-blogs h3 {
    padding: 15px 0;
    font-size: 2rem;
    text-align: center;
    border-bottom: 1px solid gray;
}
.blogs--container {
    margin: 12px 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.blogs--container .blog-item {
    width: 100%;
}
.blog-item img {
    width: 100%;
}
.blog-item .blog--info {
    font-size: 1.6rem;
}
.blog--info h4 {
    margin: 12px 0 15px;
}
.blog--info p {
    margin-bottom: 12px;
}
.blogs-footer {
    width: 100%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    background-color: var(--blue);
    color: white;
    border-top: 30px solid var(--light-blue);
}
/* ?Media queries */
@media (max-width: 764px) {
    header .header-icons-container .icons {
        width: auto;
    }
    .home-main .info-container {
        width: 90%;
        height: 150px;
        margin-bottom: 200px;
    }
    .info-container .title {
        font-size: 2.4rem;
    }
    .info-container a {
        font-size: 2rem;
    }
}
@media (max-width: 430px) {
    header .header-icons-container {
        justify-content: center;
    }
    header .header-icons-container .icons {
        margin-right: 20px;
    }
    nav .nav-logo-container {
        margin-left: 10px;
    }
    nav .profile-link {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 1px;
    }
    nav .nav-logo-container img {
        margin-left: 15%;
    }
}